src
.idea
.todo
tests
.github
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.eslintignore
.eslintrc
tsconfig.json
webpack.config.js
.husky
dist/stats.json
json-schema-to-case-class.*.tgz
